.customer-container {

    min-height: 50vh;
    padding: 20px;

}

.customer-container h2 {
    text-align: center;
}

.customer-grid {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
}

.customer {
    height: 150px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.customer::after {

    content: '';
    position: absolute;
    width: 100%;
    height: 150px;
    border-bottom: 3px solid var(--color-primary);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.247) 0%, rgb(0, 0, 0, 0));

}

.customer img {
    height: 100px;
    object-fit: contain;
}