.interactive-container {
    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}

.map__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.map_content_desktop {
    display: block;
    position: static;
    width: 100%;
}

.mobile_map_content {
    display: none;
}

.mapa_gyr {
    max-width: 1000px;
    width: 100%;
}

.mapa_gyr .nohas_projects {
    fill: var(--color-primary);
    opacity: 0.5;
    transition: all 0.5s;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapa_gyr .has__projects {
    fill: var(--color-primary);
    opacity: 1;
    transition: all 0.5s;
    z-index: 100;
    cursor: pointer;
}

.mapa_gyr .active {
    fill: var(--color-secondary);
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 1px;
    opacity: 1;
    transition: all 0.5s;
    z-index: 100;
    cursor: pointer;
}

.has__projects:hover {
    fill: var(--color-secondary-dark);
    opacity: 1;
}

/* Region Info CARDS*/

.section_info {
    width: 90%;
    margin: 10px auto;
    border-radius: 20px;
    height: 30vh;
    background-color: var(--color-secondary);
}

.section_info h3 {
    color: white;
    text-align: start;
    width: 90%;
    margin: 10px auto;
}

.section_content {
    width: 90%;
    margin: auto;
    overflow: scroll;
    height: 80%;
}

.card_item {
    background-color: white;
    width: 90%;

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5%;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
}

.card_item h4 {
    margin: 0;
    font-weight: 600;
    color: var(--color-primary);
    text-align: start;
}

.card_item span {
    font-size: 0.8rem;
    color: var(--color-secondary-dark);
    text-align: start;
    font-weight: 600;
}

.mobile_background {
    display: none;
}

.mobile-text {
    display: none;
}

.map_content_mobile{
    display: none;
}

@media (width < 750px) {

    .map_content_desktop {
        display: none;
    }

    .map_content_mobile {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
        display: flex;
    }

    .map_content_background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1002;
    }

    .map_info_content_mobile {
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        gap: 10px;
        height: 50vh;
        width: 100%;
        overflow: scroll;
        position: relative;
        z-index: 1003;
    }

    .map_info_content_mobile .section_info {
        width: 400px;
    }

    .mobile-text {
        position: absolute;
        bottom: 20%;
        transform: translate(0%, 80%);
    }

}