.interactive-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
    justify-content: center;
    width: 100%;
}

.map__container {
    max-width: 800px;
    min-width: 300px;
}

.mapa_gyr {
    margin: auto;
}

.mapa_gyr .nohas_projects {
    fill: var(--color-primary);
    opacity: 0.5;
    transition: all 0.5s;
    z-index: 100;
}

.mapa_gyr .has__projects {
    fill: var(--color-primary);
    opacity: 1;
    transition: all 0.5s;
    z-index: 100;
    cursor: pointer;
}

.mapa_gyr .active {
    fill: var(--color-secondary);
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 2px;
    opacity: 1;
    transition: all 0.5s;
    z-index: 100;
    cursor: pointer;
}

.has__projects:hover {
    fill: var(--color-secondary-dark);
    opacity: 1;
}

.group_region {
    position: relative;
}

.group_region path {
    position: absolute;
    z-index: 99;
}


/* Region Info CARDS*/

.info__container {
    height: 100%;
    display: grid;
    gap: 20px;
}

.section_info {
    height: 300px;
    width: 500px;
    margin: auto;
    background-color: var(--color-secondary-dark);
    border-radius: 20px;
    padding: 20px;
}

.section_info h3 {
    color: white;
    text-align: start;
}

.section_content {
    max-height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
}


.section_item {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    min-height: 150px;
}

.section_item h4 {
    text-align: start;
}

.section_item caption {
    width: 100%;
    display: flex;
    color: var(--color-primary);
    font-weight: 500;
}