.image__container {

    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: auto;
    min-height: 60vh;
    background-image: url('/src/assets/services/consultorias.jpg');
    background-size: cover;
    background-attachment: fixed;

}

.content__grid {
    margin: 0;
    background-color: var(--color-primary-banner);

    min-width: 30%;
    border: 5px solid white;
    cursor: pointer;
}

.content__grid h3 {
    margin: 10px;
    color: white;
    text-align: start;
    font-weight: 600;
    transition: color 0.2s ease;
}

.content__grid:hover h3 {
    color: var(--color-primary);
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__click{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

.modal__content {
    z-index: 1002;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    padding: 10px;
}

.modal__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 10%;
    position: relative;
    border-bottom: 5px solid var(--color-primary);
}

.modal__header h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: var(--color-primary);
    width: 95%;
}

.modal__header button {

    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: var(--color-primary);
}

.modal__header button:hover {

   background-color: transparent;
}

.modal__body {
    width: 100%;
    height: 90%;
}

.modal__body p{
    height: 100%;
    padding: 20px;
}