.team-container {

    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 2%;

    background-image: url('/src/assets/about/images/team.webp');
    background-size: cover;
    background-position: center;

}

.team-container p{
    max-width: 800px;
    text-align: end;
}

@media (max-width: 768px) {

}