.home-main {
    min-height: 200vh;
}

.banner {
    width: 100%;
    height: 30vh;

    background-position: 0%;
    background-size: cover;

    overflow: hidden;

}

.banner-cover {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--color-primary-banner);
    justify-content: center;
    align-items: center;
}

.banner-cover p{
    opacity: 1;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;

    max-width: 800px;
}