.s0 {
    fill: #000000;
    transform-origin: 0%;
}

.s1 {
    fill: var(--color-secondary);
    stroke: var(--color-secondary);
    stroke-width: 5px;
}

.s2 {
    fill: var(--color-primary);
    stroke: var(--color-primary);
    stroke-width: 5px;
    stroke-miterlimit: 10;
}