.experience-container {
    min-height: 50vh;
    background-image: url(/src/assets/home/images/experience_image.webp);
    background-size: cover;
}

.experience-content{

    background-color: var(--color-primary-banner);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    min-height: 50vh;
    width: 100%;
}

.experience-content p{
    color: white;
}

.experience-content div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.experience-link{
    width: 100px;
    text-align: end;
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
}