.container-success {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: seashell;
}

.header-success {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: 10vh;
    padding: 10px;
    gap: 20px;

}

.header-success h2 {
    color: var(--color-primary);
    padding: 0;
    width: 200px;
    margin: auto;
    font-weight: 600;
}

.header-success h2 span {
    font-weight: 800;
}

.header-success p {
    max-width: 80%;
    margin: auto;
}

.content-success {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;

}

.content-success img {

    max-width: 400px;
    margin: auto;

}

/* Accordeon*/

.accordeon {
    color: var(--color-primary);
}

.accordeon-item {

    width: 50%;
    margin: auto;
    text-align: center;

}

.accordeon-item h3 {
    cursor: pointer;
}

.accordeon-item p{
    color: black;
}