.container-success {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.header-success {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: 10vh;
    padding: 10px;
    gap: 20px;
}

.header-success h2{
    font-weight: 500;
    max-width: 400px;
    margin: auto;
}

.header-success h2 span{
    font-weight: 700;
}

.header-success p {
    max-width: 80%;
    margin: auto;
}

.content-success {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;

}

.content-success img {

    max-width: 400px;
    margin: auto;

}

/* Accordeon*/

.accordeon-item {

    width: 400px;
    margin: auto;
    transform-origin: 0%;
    text-align: start;

}

.accordeon-item p{
    margin: 1rem;
    text-align: start;
    transform-origin: 0%;
}

.accordeon-item div h3 {
    margin: 1rem;
    cursor: pointer;
    transition: all 0.4s;
    text-align: start;
}

.accordeon-item div h3:hover {
    scale: 1.1;
    color: var(--color-primary);
}

.accordeon-active {
    scale: 1.1;
    color: var(--color-primary);
}

.accordeon-item div h3 {
    margin: 1rem;
    cursor: pointer;
}