.mision-container {

    margin-top: 20px !important;

    width: 90vw;
    min-height: 50vh;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.mision-element-img {
    padding: 20px 10% 20px 30%;

}

.mision-element-img img {
    position: relative;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 0px 0px;

    border-radius: 20px;
    z-index: 0;

}

.mision-element {
    position: relative;
}

.mision-content {

    background-color: var(--color-secondary-dark);

    position: absolute;
    max-width: 800px;
    min-height: 300px;
    padding: 20px;
    border-radius: 20px;
    left: -15%;
    margin: auto;

    z-index: 1;

    text-align: justify;

}

.mision-content h2 {
    color: white;
}

.mision-content p {
    color: white;
    font-size: 1.2rem;
}

@media (max-width: 1400px) {



}

@media (max-width: 768px) {

    .mision-container {
        position: relative;
    }

    .mision-element {
        position: absolute;
    }

    .mision-content {
        position: static;
    }

    .mision-content p {
        color: white;
        font-size: 1.2rem;
    }
}