.hero-container {
    height: 110vh;
    background-color: #E2B8A2;
    background-image: url('/src/assets/home/hero/background.webp');
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    z-index: 0;
}

.hero-tittle {
    font-size: 6vw;
    max-width: 900px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    bottom: 55%;
    position: absolute;
    z-index: 8;
    left: 10%;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.6);
    color: var(--color-primary);

}

.hero-tittle span{
    color: var(--color-secondary);
    margin-left: 10%;
}

.hero-front {

    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    position: absolute;
    z-index: 10;
    top: 10%;

}

.hero-back {
    width: 100%;
    height: 100%;
    top: 10%;
    object-fit: cover;
    background-size: cover;
    position: absolute;
    z-index: 7;
}

.mobile-title {
    display: none;
}

@media (width < 768px) {

    .hero-front {
        display: none;
    }

    .hero-back {
        display: none;
    }

    .hero-container {
        background-image: url(/src/assets/home/hero/background.webp);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        height: 100vh;
    }

    .hero-tittle {
        display: none;
    }

    .hero-tittle2 {
        display: none;
    }

    .mobile-title {
        display: block;
        font-size: 10vw;
        text-align: center;
        width: 100%;

        background: linear-gradient(35deg, var(--color-primary) 50%, var(--color-secondary) 50%);
        background-clip: text;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}