:root {
    --color-primary: rgb(244, 121, 32);
    --color-primary-light: rgb(255, 144, 0);
    --color-primary-dark: rgb(204, 102, 0);

    --color-secondary: rgb(0, 133, 188);
    --color-secondary-light: rgb(0, 153, 209);
    --color-secondary-dark: rgb(0, 113, 159);

    --color-tertiary: #F4F4F4;
    --color-tertiary-light: #FFFFFF;
    --color-tertiary-dark: #D8D8D8;

    --color-primary-banner: rgba(82, 116, 153, 0.9);
    --color-secondary-banner: rgb(244, 121, 32);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

    margin: 0;
    padding: 0;
    
}

::-webkit-scrollbar {
    display: none;
}


body {
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background: var(--color-secondary);
    border: none;
    padding: 1vw 2vw;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background: var(--color-secondary-dark);
    scale: 1.05;
}

button:active {
    transform: scale(0.95);
}