.international__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;

}

.international__projects h2 {
    font-size: 2rem;
    color: var(--color-primary);
    margin: 0;
    padding: 0;
    text-align: center;
    margin: auto;
}

.international__title {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: auto;
}

.international__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    background-color: var(--color-secondary);
    border-radius: 20px;
    padding: 20px;
}

.international__card {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 90%;
    overflow-y: scroll;
}

.international__card__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.2rem;
}

.international__card__description {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
}

.international__card__year{
    font-weight: bold;
}